
body {
font-family: "Courier New", Courier, monospace;
background: #a40707;
}


.header {
padding: 20px 0;
text-align: center;
color: white;
font-size: 40px;
font-weight: bold;
}

.destinations {
display: flex;
gap: 20px;
padding: 20px;
}


.card {
background: white;
border-radius: 10px;
padding: 15px;
text-align: center;
}


.card img {
width: 100%;
height: 180px;
border-radius: 10px;
}


footer {
text-align: center;
padding: 15px;
background: #45262f;
color: white;
}



@media(max-width: 800px) {
.destinations {
flex-direction: column;
}
}